@use "../../scss/partials/colors";
@use "../../scss/partials/breakpoints";
@use "../../scss/partials/mixins";

.card-deal-container {
  h3 {
    font-weight: 400;
    font-size: 30px;
    margin: 20px 0;
    margin-top: 60px;
  }
}
.card-deal {
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.deal-card-flex {
  flex-direction: column;
  align-items: center;
  background-color: colors.$white;
  padding: 20px;
  box-shadow: 0 2px 4px 8px rgba(0, 0, 0, 0.01);
}
.flex-2 {
  text-align: center;
  margin-top: 20px;
  .info {
    .discount {
      text-align: left;
      margin-bottom: 10px;
      span {
        font-size: 12px;
        /*  */
        color: #0855a1;
        padding: 2px 4px;
        background-color: #f2f4f7;
        display: inline-block;
        border-radius: 4px;
        font-size: 13px;
        font-weight: 400;
      }
    }
  }
}
.flex-2 {
  .info {
    p:nth-child(2) {
      text-align: center;
      font-weight: 700;
      margin-bottom: 6px;
    }
    p:nth-of-type(3) {
      text-align: left;
      color: colors.$darker-grey;
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 6px;
    }
  }
}
.flex-2 {
  .info {
    .price-tag {
      text-align: left;
      align-items: baseline;
      span:nth-child(1) {
        color: colors.$darker-grey-2;
        font-weight: 20px;
      }
      span:nth-child(2) {
        color: colors.$light-grey;
        font-size: 14px;
      }
      span:nth-child(3) {
        color: colors.$orange;
        font-size: 12px;
      }
    }
  }
}
.flex-3 {
  flex-grow: 1 !important;
  width: 100%;
}
.btn-blue {
  &.mtop-20 {
    margin-top: 10px;
    .btn-view {
      height: max-content;
      width: 280px;
    }
  }
}

/* Media-Query */
@media only screen and (min-width: breakpoints.$breakpoint_1) {
  .flex-1 {
    img {
      height: 160px;
    }
  }

  .flex-2 {
    .info {
      font-size: x-large;
      .discount {
        span {
          font-size: 20px;
        }
      }
    }
  }
  /* Card Deal Section */
  .card-deal {
    gap: 0;
  }
}
@media only screen and (min-width: breakpoints.$breakpoint_2) and (max-width: breakpoints.$breakpoint_1) {
  .flex-1 {
    img {
      height: 140px;
    }
  }

  .flex-2 {
    .info {
      font-size: larger;
    }
  }

  /* Discount span */
  .flex-2 {
    .info {
      .discount {
        span {
          font-size: 15px;
        }
      }
    }
  }

  /* Card Deal Section */
  .card-deal {
    gap: 0;
  }
}
@media only screen and (max-width: breakpoints.$breakpoint_3) {
  .deal-card-flex {
    width: 100%;
    place-content: center;
  }

  .btn-blue {
    &.mtop-20 {
      .btn-view {
        width: 250px;
      }
    }
  }
}
@media only screen and (max-width: breakpoints.$breakpoint_4) {
  .btn-blue {
    &.mtop-20 {
      .btn-view {
        width: 210px;
      }
    }
  }
}
@media only screen and (max-width: breakpoints.$breakpoint_5) {
  .btn-blue {
    &.mtop-20 {
      .btn-view {
        width: 180px;
      }
    }
  }
}
@media only screen and (max-width: breakpoints.$breakpoint_6) {
  .card-deal-container {
    h3 {
      text-align: center;
      font-size: 26px;
    }
  }

  .deal-card-flex {
    width: 70%;
  }
  .card-deal {
    display: flex;
    flex-direction: column;
  }
  .btn-blue {
    &.mtop-20 {
      text-align: center;
      .btn-view {
        width: 80%;
      }
    }
  }
}

/* Skeleton related styles */

/* Flex skeleton Image */
.flex-1.skeletonImgCont {
  position: relative;
  &::before {
    @include mixins.beforePseudoSkeleton();
    @include mixins.beforeKeyframes(dimBrightFlexImg) {
      0% {
        background-color: #999;
      }
      50% {
        background-color: #999999b0;
      }
      100% {
        background-color: #999;
      }
    }
    // will take default animations
    @include mixins.beforeSkeletonAnimation(dimBrightFlexImg);
  }
  &::after {
    @include mixins.afterPseudoSkeleton();
    @include mixins.afterKeyframes() {
      0% {
        background-position: -450px 0;
      }
      100% {
        background-position: 450px 0;
      }
    }
    // will take default animations
    @include mixins.afterSkeletonAnimation();
  }
}
.flex-1.skeletonImgCont img {
  opacity: 0;
}
.flex-1.skeletonImgCont span {
  display: inline-block;
  width: 35px;
  position: absolute;
  top: 41px;
  left: 55px;
  svg {
    @include mixins.beforeKeyframes(dimBrightFlexImg) {
      0% {
        background-color: #999;
      }
      50% {
        background-color: #999999b0;
      }
      100% {
        background-color: #999;
      }
    }
    @include mixins.beforeSkeletonAnimation(dimBrightFlexImg);
    stroke: black;
    opacity: 0.4;
  }
}

/*FlexInfo Skeleton  */

.flex-2.flexInfoContSkeleton .info {
  .discount span {
    position: relative;
    color: transparent;
    &::before {
      z-index: 2;
      @include mixins.beforePseudoSkeleton();
      @include mixins.beforeKeyframes(dimBrightFlexBtn) {
        0% {
          background-color: #999;
        }
        50% {
          background-color: #999999b0;
        }
        100% {
          background-color: #999;
        }
      }
      // will take default animations
      @include mixins.beforeSkeletonAnimation(dimBrightFlexBtn);
    }
    &::after {
      z-index: 2;
      @include mixins.afterPseudoSkeleton();
      @include mixins.afterKeyframes() {
        0% {
          background-position: -450px 0;
        }
        100% {
          background-position: 450px 0;
        }
      }
      // will take default animations
      @include mixins.afterSkeletonAnimation();
    }
  }
}

//
.flex-2.flexInfoContSkeleton {
  .info p:nth-child(2) {
    position: relative;
    color: transparent;
    &::before {
      @include mixins.beforePseudoSkeleton(dimBrightFlexBtn);
      @include mixins.beforeKeyframes(dimBrightFlexBtn) {
        0% {
          background-color: #999;
        }
        50% {
          background-color: #999999b0;
        }
        100% {
          background-color: #999;
        }
      }
      // will take default animations
      @include mixins.beforeSkeletonAnimation(dimBrightFlexBtn);
    }
    &::after {
      z-index: 2;
      @include mixins.afterPseudoSkeleton();
      @include mixins.afterKeyframes() {
        0% {
          background-position: -450px 0;
        }
        100% {
          background-position: 450px 0;
        }
      }
      // will take default animations
      @include mixins.afterSkeletonAnimation();
    }
  }
}

.flex-2.flexInfoContSkeleton {
  .info p:nth-of-type(3) {
    position: relative;
    color: transparent;
    ::before {
      z-index: 2;
      @include mixins.beforePseudoSkeleton();
      @include mixins.beforeKeyframes(dimBrightFlexBtn) {
        0% {
          background-color: #999;
        }
        50% {
          background-color: #999999b0;
        }
        100% {
          background-color: #999;
        }
      }
      // will take default animations
      @include mixins.beforeSkeletonAnimation(dimBrightFlexBtn);
    }
    &::after {
      z-index: 2;
      @include mixins.afterPseudoSkeleton();
      @include mixins.afterKeyframes() {
        0% {
          background-position: -450px 0;
        }
        100% {
          background-position: 450px 0;
        }
      }
      // will take default animations
      @include mixins.afterSkeletonAnimation();
    }
  }
}
//
.flex-2.flexInfoContSkeleton {
  .info .price-tag {
    span {
      position: relative;
      color: transparent;
      &::before {
        z-index: 2;
        background-color: #999;
        text-align: center;
        @include mixins.beforePseudoSkeleton();
        @include mixins.beforeKeyframes() {
          0% {
            background-color: #999;
          }
          50% {
            background-color: #999999b0;
          }
          100% {
            background-color: #999;
          }
        }
        // will take default animations
        @include mixins.beforeSkeletonAnimation();
      }
      &::after {
        z-index: 2;
        text-align: center;
        @include mixins.afterPseudoSkeleton();
        @include mixins.afterKeyframes() {
          0% {
            background-position: -450px 0;
          }
          100% {
            background-position: 450px 0;
          }
        }
        // will take default animations
        @include mixins.afterSkeletonAnimation();
      }
    }
  }
}

// Button Flex Skeleton
.btn-blue.mtop-20.skeletonBtnFlexCont {
  position: relative;
  &::before {
    z-index: 2;
    @include mixins.beforePseudoSkeleton();
    @include mixins.beforeKeyframes(dimBrightFlexBtn) {
      0% {
        background-color: #999;
      }
      50% {
        background-color: #9999996b;
      }
      100% {
        background-color: #999;
      }
    }
    // will take default animations
    @include mixins.beforeSkeletonAnimation(dimBrightFlexBtn);
  }
  &::after {
    z-index: 2;
    @include mixins.afterPseudoSkeleton();
    @include mixins.afterKeyframes() {
      0% {
        background-position: -450px 0;
      }
      100% {
        background-position: 450px 0;
      }
    }
    // will take default animations
    @include mixins.afterSkeletonAnimation();
  }
  .btn-view {
    opacity: 0;
    position: relative;
  }
}

.card-deal-container.card-deal-container-skeleton h3 {
  position: relative;
  color: transparent;
  &::before {
    @include mixins.beforePseudoSkeleton(50%);
    @include mixins.beforeKeyframes() {
      0% {
        background-color: #999;
      }
      50% {
        background-color: #99999980;
      }
      100% {
        background-color: #999;
      }
    }
    @include mixins.beforeSkeletonAnimation();
  }
  &::after {
    @include mixins.afterPseudoSkeleton(50%);
    @include mixins.afterKeyframes() {
      0% {
        background-position: -450px 0;
      }
      100% {
        background-position: 450px 0;
      }
    }
    @include mixins.afterSkeletonAnimation();
  }
}
//
