/* Popping Menu */
.popup-menu {
  position: relative;

  width: 0;

  transition: width 0.4s ease-in-out;
  z-index: 9999;
}
.popup-menu.pop {
  width: 100%;
}

.x {
  position: absolute;
  top: 13px;
  right: 20px;
  width: 20px;
  height: 20px;
  z-index: 999999;
  animation: upDown infinite 1s ease-in;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  cursor: pointer;
}
.x.pop {
  opacity: 1;
}
.x i {
  font-size: 24px;
  color: var(--white);
}
.x i:active {
  color: var(--orange);
}

@keyframes upDown {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.popup-menu .popup-menu-container {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  position: absolute;

  background: transparent;

  box-shadow: 0 10px 14px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16px);
  padding: 34px 0px;
  z-index: 999;
  width: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
.popup-menu .popup-menu-container.pop {
  opacity: 1;
}

.popup-menu .popup-menu-container li {
  text-transform: uppercase;
  font-weight: 700;
  background-color: #0000001b;
  border-radius: 5%;
  padding: 10px;
  white-space: nowrap;

  text-align: center;

  /* Copied styles from it's Parent */
  /* opacity: 0; */
  width: 100%;
  z-index: 9999;
}

/* Animation on individual li */
.popup-menu .popup-menu-container li:nth-child(1) {
  transition: all 1s ease-in-out;
  opacity: 0;
  width: 100%;
}
.popup-menu .popup-menu-container li:nth-child(2) {
  transition: all 1.3s ease-in-out;
  opacity: 0;
  width: 100%;
}
.popup-menu .popup-menu-container li:nth-child(3) {
  transition: all 1.6s ease-in-out;
  opacity: 0;
  width: 100%;
}

.popup-menu .popup-menu-container li:nth-child(1).pop {
  width: 50%;
  opacity: 1;
}
.popup-menu .popup-menu-container li:nth-child(2).pop {
  width: 50%;
  opacity: 1;
}
.popup-menu .popup-menu-container li:nth-child(3).pop {
  width: 50%;
  opacity: 1;
}
/*  */

#navbar {
  background-color: var(--black);
  color: #fff;
  /* width: 1592px; */
  height: 64px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

#navbar .navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#navbar .navbar-container .nav-flex {
  gap: 80px;
}

.input-container {
  position: relative;
}
.input-container input {
  position: relative;
  width: 200px;
  padding: 10px;
  padding-left: 34px;
  padding-right: 20px;
  border-radius: 8px;
  outline: none;
  border: none;
  transition: all 0.2s ease-in;
  margin-right: 10px;
  /* border: none; */
}

.input-container input:focus {
  transform: scaleY(1.1);
}
.input-container input:focus + span i {
  color: orangered;
}
.input-container i {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  color: var(--black);
  font-size: 16px;
  scale: 1.1;
  transition: all 0.2s ease-in;
}

ul li {
  list-style: none;
}

.hamburger {
  display: none;
}

/* Media-Query */
@media only screen and (min-width: 1600px) {
  .input-container i {
    top: 15px;
  }
}

@media only screen and (max-width: 900px) {
  #navbar .navbar-container .nav-flex {
    gap: 40px;
  }
}

@media only screen and (max-width: 800px) {
  #navbar {
    margin-bottom: 20px;
  }
  #navbar .navbar-container .nav-flex {
    gap: 10px;
  }
}

@media only screen and (max-width: 650px) {
  #navbar .navbar-container {
    justify-content: space-between;
  }
  #navbar .navbar-container .nav-flex {
    display: none;
  }
  #navbar .navbar-container .hamburger {
    display: block;
    cursor: pointer;
  }
  #navbar .navbar-container .hamburger .hamburger-container {
    /* border: 0.1px solid var(--white); */
    padding: 10px;
    border-radius: 10%;
  }
  #navbar .navbar-container .hamburger .hamburger-container i {
    font-size: 30px;
  }
  #navbar .navbar-container .hamburger .hamburger-container i:active {
    color: var(--orange);
  }
  #navbar .navbar-container .hamburger .hamburger-container i:focus .hamburger {
    outline: none;
    border: none;
  }
}
