@use "../../scss/partials/colors";
@use "../../scss/partials/breakpoints";
@use "../../scss/partials/mixins";

.signup-container {
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  h4 {
    font-size: 32px;
    font-weight: 400;
    line-height: 44px;
    color: var(--darker-grey-2);
  }
}
.form {
  gap: 0;
  margin-right: 4px;
  input {
    border-radius: 0;
    border: none;
    width: 18.75rem; /*300px*/
    padding: 10px 20px;
    &:focus {
      border: none;
      outline: none;
    }
  }
}
.btn-blue {
  &.mtop-0 {
    margin-top: 0px;
    .btn-view {
      height: 40px;
      width: 57px;
      white-space: nowrap;
      font-size: 12px;
      border-radius: 0 12px 12px 0;
      &:hover {
        box-shadow: none;
        transform: scale(1);
      }
    }
  }
}

// Media-Queries
@media only screen and (max-width: breakpoints.$breakpoint_3) {
  .card-deal {
    place-content: center;
  }

  .signup-container {
    h4 {
      font-size: 24px;
    }
  }
}
@media only screen and (max-width: breakpoints.$breakpoint_6) {
  .card-deal {
    place-content: center;
  }

  .signup-container {
    h4 {
      font-size: 20px;

      line-height: 30px;
    }
  }

  .form {
    input {
      width: 11.75rem;
    }
  }
}

// Skeleton related styles
.form.formSkeleton {
  position: relative;
  color: transparent;
  background-color: transparent;
  &::before {
    @include mixins.beforePseudoSkeleton();
    @include mixins.beforeKeyframes(dimBrightSignUp) {
      0% {
        background-color: #e5e5e5;
      }
      50% {
        background-color: #e5e5e56e;
      }
      100% {
        background-color: #e5e5e5;
      }
    }
    // will take default animations
    @include mixins.beforeSkeletonAnimation(dimBrightSignUp);
  }
  &::after {
    @include mixins.afterPseudoSkeleton();
    z-index: 2;
    @include mixins.afterKeyframes() {
      0% {
        background-position: -450px 0;
      }
      100% {
        background-position: 450px 0;
      }
    }
    // will take default animations
    @include mixins.afterSkeletonAnimation();
  }
}
.signup-container.signupSkeleton-container h4 {
  color: transparent;
  position: relative;
  &::before {
    @include mixins.beforePseudoSkeleton(90%);
    @include mixins.beforeKeyframes(dimBrightSignUp) {
      0% {
        background-color: #e5e5e5;
      }
      50% {
        background-color: #e5e5e56e;
      }
      100% {
        background-color: #e5e5e5;
      }
    }
    // will take default animations
    @include mixins.beforeSkeletonAnimation(dimBrightSignUp);
  }
  &::after {
    @include mixins.afterPseudoSkeleton(90%);
    @include mixins.afterKeyframes() {
      0% {
        background-position: -450px 0;
      }
      100% {
        background-position: 450px 0;
      }
    }
    // will take default animations
    @include mixins.afterSkeletonAnimation();
  }
}
.form.formSkeleton {
  input {
    &:focus {
      border: none;
      outline: none;
    }
  }
}
.btn-blue.mtop-0 .btn-view.signUpSkeletonBtn {
  color: transparent;
  background-color: transparent;
}
.btn-blue.mtop-0 .btn-view.signUpSkeletonBtn:hover {
  box-shadow: none;
}
