@use "../../scss/partials/colors";
@use "../../scss/partials/breakpoints";

.signup-container {
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  h4 {
    font-size: 32px;
    font-weight: 400;
    line-height: 44px;
    color: var(--darker-grey-2);
  }
}
.form {
  gap: 0;
  margin-right: 4px;
  input {
    border-radius: 0;
    border: none;
    width: 18.75rem; /*300px*/
    padding: 10px 20px;
    &:focus {
      border: none;
      outline: none;
    }
  }
}
.btn-blue {
  &.mtop-0 {
    margin-top: 0px;
    .btn-view {
      height: 40px;
      width: 57px;
      white-space: nowrap;
      font-size: 12px;
      border-radius: 0 12px 12px 0;
      &:hover {
        box-shadow: none;
        transform: scale(1);
      }
    }
  }
}

// Media-Queries
@media only screen and (max-width: breakpoints.$breakpoint_3) {
  .card-deal {
    place-content: center;
  }

  .signup-container {
    h4 {
      font-size: 24px;
    }
  }
}
@media only screen and (max-width: breakpoints.$breakpoint_6) {
  .card-deal {
    place-content: center;
  }

  .signup-container {
    h4 {
      font-size: 20px;

      line-height: 30px;
    }
  }

  .form {
    input {
      width: 11.75rem;
    }
  }
}
