@use "../../scss/partials/colors";
@use "../../scss/partials/breakpoints";
@use "../../scss/partials/mixins";
.heading {
  h2 {
    text-align: left;
    font-size: 48px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 20px;
  }
}
.heading {
  .date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul {
      padding-left: 0;
      li {
        display: flex;
        align-items: center;
        gap: 10px;
        span:first-of-type {
          width: 20px;
          height: 20px;
          border-radius: 100%;
          border: 2px solid #626e79;
          color: colors.$dark-grey;
          @include mixins.gridCenter;
          cursor: pointer;
          &:hover {
            filter: opacity(60%);
          }
          i {
            font-size: 12px;
          }
        }
      }
    }
  }
}
.heading {
  .date {
    .left {
      ul {
        li:nth-of-type(2) {
          margin-right: 16px;
        }
      }
    }
  }
}
.heading {
  .date {
    .left {
      .date-left {
        margin: 14px 0 10px 0;
      }
    }
  }
}
.heading {
  .date {
    .right {
      display: flex;
      gap: 5px;
    }
  }
}

// Media Queries
@media only screen and (max-width: breakpoints.$breakpoint_4) {
  .heading {
    h2 {
      text-align: left;
      font-size: 40px;
    }
  }
}
@media only screen and (max-width: breakpoints.$breakpoint_6) {
  .heading {
    h2 {
      font-size: 35px;
    }
  }
  .heading {
    .date {
      .left {
        .date-left {
          margin: 4px 0 2px 0;
          li {
            font-size: 12px;
          }
        }
      }
    }
  }
  .heading {
    .date {
      .right {
        li {
          font-size: 14px;
        }
      }
    }
  }
}
@media only screen and (max-width: breakpoints.$breakpoint_6) {
  .heading {
    h2 {
      font-size: 30px;
      margin-bottom: 5px;
    }
  }
}

@media only screen and (max-width: breakpoints.$breakpoint_8) {
  .heading {
    h2 {
      font-size: 28px;
    }
  }

  .m-top-bot {
    margin: 10px 0;
  }
}

@media only screen and (max-width: breakpoints.$breakpoint_9) {
  .mat-1 {
    gap: 14px;
  }
  .mat-2 {
    gap: 8px;
  }
  .heading {
    h2 {
      font-size: 22px;
    }
  }
}
@media only screen and (max-width: 450px) {
  .heading {
    .date {
      ul {
        li {
          gap: 0;
          span:first-of-type {
            width: 24px;
          }
        }
      }
    }
  }
  .heading {
    .date {
      .left {
        .date-left {
          gap: 0;
          li {
            font-size: small;
          }
        }
      }
    }
  }
  .heading {
    .date {
      .right {
        gap: 0;
        font-size: small;
      }
    }
  }
}

// Skeleton-related styles
/* Heading h2 skeleton */
.heading.headingSkeleton h2 {
  position: relative;
  color: transparent;
  &::before {
    @include mixins.beforePseudoSkeleton(75%);
    @include mixins.beforeKeyframes() {
      0% {
        background-color: #999;
      }
      50% {
        background-color: #99999980;
      }
      100% {
        background-color: #999;
      }
    }
    // will take default animations
    @include mixins.beforeSkeletonAnimation();
  }
  &::after {
    @include mixins.afterPseudoSkeleton(75%);
    @include mixins.afterKeyframes() {
      0% {
        background-position: -450px 0;
      }
      100% {
        background-position: 450px 0;
      }
    }
    // will take default animations
    @include mixins.afterSkeletonAnimation();
  }
}

/*  */
.heading.headingSkeleton .date {
  ul li {
    position: relative;
    color: transparent;
    &::before {
      @include mixins.beforePseudoSkeleton();
      @include mixins.beforeKeyframes() {
        0% {
          background-color: #999;
        }
        50% {
          background-color: #99999980;
        }
        100% {
          background-color: #999;
        }
      }
      // will take default animations
      @include mixins.beforeSkeletonAnimation();
    }
    &::after {
      @include mixins.afterPseudoSkeleton();
      @include mixins.afterKeyframes() {
        0% {
          background-position: -450px 0;
        }
        100% {
          background-position: 450px 0;
        }
      }
      // will take default animations
      @include mixins.afterSkeletonAnimation();
    }
  }
  span:first-of-type {
    border: none;
    &:hover {
      filter: none;
    }
    i {
      opacity: 0;
    }
  }
}

.heading.headingSkeleton {
  .date .right {
    position: relative;
    color: transparent;
    &::before {
      @include mixins.beforePseudoSkeleton();
      @include mixins.beforeKeyframes() {
        0% {
          background-color: #999;
        }
        50% {
          background-color: #99999980;
        }
        100% {
          background-color: #999;
        }
      }
      // will take default animations
      @include mixins.beforeSkeletonAnimation();
    }
    &::after {
      @include mixins.afterPseudoSkeleton();
      @include mixins.afterKeyframes() {
        0% {
          background-position: -450px 0;
        }
        100% {
          background-position: 450px 0;
        }
      }
      // will take default animations
      @include mixins.afterSkeletonAnimation();
    }
  }
}
