@use "../../scss/partials/colors";
@use "../../scss/partials/breakpoints";
@use "../../scss/partials/mixins";

#footer {
  background-color: colors.$black;
  margin-top: 50px;

  .footer-container {
    color: colors.$lightish-grey;
    grid-template-columns: repeat(3, 1fr);
    /* place-items: flex-start; */
    padding: 40px 0;

    .footer-menu {
      flex-direction: column;

      li:first-child {
        text-transform: uppercase;
        color: colors.$white;
        margin-bottom: 10px;
      }

      li:not(:first-child) {
        position: relative;
        cursor: pointer;
        transition: color 0.3s ease-in;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          height: 0.09px;
          background-color: colors.$white;
          transition: width 0.3s ease-in;
        }

        &:hover::after {
          width: 50%;
        }

        &:hover {
          color: colors.$white;
        }
      }
    }

    .options {
      align-items: center;

      select {
        color: colors.$lightish-grey;
        background-color: colors.$black;
        border: none;
      }
    }
  }
}

// Media-Query
@media only screen and (min-width: breakpoints.$breakpoint_1) {
  #footer {
    .footer-container {
      .options {
        select {
          option {
            font-size: medium;
            color: colors.$black;
          }
        }
      }
    }
  }
}

// Skeleton related styles
#footer {
  .footer-container.skeleton-container {
    .footer-menu.skeleton-menu {
      li {
        position: relative;
        color: transparent;
        overflow: hidden;
        &::before {
          @include mixins.beforePseudoSkeleton(50%);
          @include mixins.beforeKeyframes() {
            0% {
              background-color: #999;
            }
            50% {
              background-color: #99999980;
            }
            100% {
              background-color: #999;
            }
          }
          // will take default animations
          @include mixins.beforeSkeletonAnimation();
        }
        &::after {
          @include mixins.afterPseudoSkeleton(50%);
          @include mixins.afterKeyframes() {
            0% {
              background-position: -450px 0;
            }
            100% {
              background-position: 450px 0;
            }
          }
          // will take default animations
          @include mixins.afterSkeletonAnimation();
        }
        &:first-child {
          color: transparent;
        }
      }
    }
  }
}

#footer {
  .footer-container.skeleton-container {
    .options {
      position: relative;
      select {
        border: none;
        color: transparent;
      }
      &::before {
        @include mixins.beforePseudoSkeleton(50%, 12%);
        @include mixins.beforeKeyframes() {
          0% {
            background-color: #999;
          }
          50% {
            background-color: #99999980;
          }
          100% {
            background-color: #999;
          }
        }
        // will take default animations
        @include mixins.beforeSkeletonAnimation();
      }
    }
  }
}

// Media Query
@media only screen and (max-width: breakpoints.$breakpoint_11) {
  // Signup section
  .form input {
    width: 8.75rem;
    font-size: 9.5px;
  }

  // Footer section
  #footer .footer-container .footer-menu li:first-child {
    margin-bottom: 0;
    font-size: 12px;
  }

  #footer .footer-container .footer-menu li:not(:first-child) {
    font-size: 12px;
  }
}
