@use "../../scss/partials/colors";
@use "../../scss/partials/breakpoints";
@use "../../scss/partials/mixins";

/* Utility class */
.flex-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.highlights {
  h5 {
    font-size: 16px;
    font-weight: 700;
  }
  p {
    padding: 10px;
  }
}

.show-more {
  .show-more-btn {
    background: none;
    color: colors.$btn-sky-blue;
    border: none;
    cursor: pointer;
    gap: 4px;
    &:hover {
      filter: brightness(80%);
    }
    span {
      i {
        color: colors.$btn-sky-blue;
        font-size: 10px;
      }
    }
  }
}

.btn {
  width: 232px;
  height: 48px;
  padding: 10px;
  font-weight: 400;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  transform: scale(1);
  cursor: pointer;
  transition: transform 0.2s ease;
  &:hover {
    filter: brightness(110%);
    transform: scale(1.02) rotate(0.02deg);
    -webkit-box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.45);
  }
}
.main-card-grid {
  margin-top: 50px;
  background-color: colors.$white;
  padding: 20px;
  gap: 50px;
  position: relative;
  &.hidden {
    display: none;
  }
}
/* Absolute Positioned Conditional Element */
.absolute {
  content: "Best Value";
  white-space: nowrap;
  position: absolute;
  top: -10px;
  left: -5px;
  width: fit-content;
  height: max-content;
  background-color: #ff7724;
  color: colors.$white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 0 8px 8px 0;
}
.none {
  display: none;
}
/* Absolute Positioned Element */
.id-number {
  white-space: nowrap;
  position: absolute;
  top: 55px;
  left: -20px;
  border: 1.6px solid colors.$greyish;
  @include mixins.gridCenter;
  background-color: colors.$white;
  color: colors.$darker-grey;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  height: 44px;
  width: 44px;
  border-radius: 100%;
}

.grid-1 {
  text-align: center;
  align-self: center;
  position: relative;
  img {
    margin-bottom: 10px;
  }
}

.grid-2 {
  .info {
    p {
      line-height: 24px;
    }
  }
}
.rating {
  background-color: #f3f9ff;
  flex-direction: column;
  text-align: center;
  padding: 24px 0px;
}
.grid-3-rating {
  text-align: center;
}
.rating {
  .stars {
    span {
      i {
        color: goldenrod;
      }
    }
  }
}
.btn-blue {
  margin-top: 80px;
}
.btn-view {
  background-color: colors.$btn-sky-blue;
  color: colors.$white;
}
/* Conditional render style */

.highlights-fourth {
  background-color: #fff4ed;
  margin: 0 10px;
  padding: 20px;
  border-radius: 12px;
  margin-top: 10px;
  li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 20px;
    span {
      background-color: colors.$white;
      color: colors.$btn-sky-blue;
      border-radius: 4px;
      padding: 4px 8px;
    }
  }
}

.highlights-checked {
  margin-left: 20px;
  li {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    line-height: 24px;
    margin-bottom: 5px;
    span {
      width: 20px;
      height: 20px;
      display: grid;
      place-content: center;
      color: #0855a1;
      padding: 5px;
      background-color: #ebf5ff;
      margin-bottom: 5px;
      border-radius: 100%;
      i {
        font-size: 12px;
      }
    }
  }
}

.matop {
  margin-top: 270px;
}

.highlights {
  .discount {
    color: #0855a1;
    padding: 2px 4px;
    background-color: #f2f4f7;
    display: inline-block;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 400;
  }
}
/* Media-Query */
@media only screen and (min-width: breakpoints.$breakpoint_1) {
  .main-card-grid {
    margin-top: 55px;
  }

  /* Id Number */
  .id-number {
    top: 65px;
    height: 54px;
    width: 54px;
    padding: 30px;
  }

  /* Show more btn */
  .show-more {
    .show-more-btn {
      font-size: large;
    }
  }

  .grid-1 {
    img {
      margin-bottom: 14px;
      height: 160px;
    }
  }

  .grid-2 {
    .info {
      p {
        line-height: 36px;
      }
    }
  }
}

@media only screen and (min-width: breakpoints.$breakpoint_2) and (max-width: breakpoints.$breakpoint_1) {
  /* Show more btn */
  .show-more .show-more-btn {
    font-size: large;
  }

  .grid-1 img {
    margin-bottom: 14px;
    height: 140px;
  }

  .grid-2 .info p {
    line-height: 32px;
  }

  /* Highlights Discount */
  .highlights .discount {
    padding: 2px 4px;
    font-size: 16px;
  }
}

// @media only screen and (max-width: 1200px) {
// }

@media only screen and (max-width: breakpoints.$breakpoint_6) {
  .main-card-grid {
    display: flex;
    flex-direction: column;
  }

  .grid-1 img {
    margin-bottom: 10px;
    height: 140px;
  }

  .matop {
    margin-top: 40px;
  }

  .btn-blue {
    margin-top: 40px;
  }
}

@media only screen and (max-width: breakpoints.$breakpoint_8) {
  .absolute {
    z-index: 1;
  }
}
@media only screen and (max-width: breakpoints.$breakpoint_10) {
  .absolute {
    padding: 5px;
    strong {
      font-size: 10px;
    }
  }

  .id-number {
    left: -13px;
  }
}

// Skeleton related styles

/* Grid1Img Skeleton */

.grid-1.gridImgSkeleton::before {
  @include mixins.beforePseudoSkeleton();
  @include mixins.beforeKeyframes() {
    0% {
      background-color: #999;
    }
    50% {
      background-color: #99999980;
    }
    100% {
      background-color: #999;
    }
  }
  @include mixins.beforeSkeletonAnimation();
}
.grid-1.gridImgSkeleton::after {
  @include mixins.afterPseudoSkeleton();
  @include mixins.afterKeyframes() {
    0% {
      background-position: -450px 0;
    }
    100% {
      background-position: 450px 0;
    }
  }
  @include mixins.afterSkeletonAnimation();
}
.grid-1.gridImgSkeleton {
  img {
    opacity: 0;
  }
  figcaption {
    color: transparent;
  }
  svg {
    width: 30px;
    position: absolute;
    top: 56px;
    right: 90px;
    stroke: black;
    opacity: 0.4;
    animation: dimBrightFlexImg infinite 1.5s ease-in;
  }
}

@keyframes dimBrightFlexImg {
  0% {
    background-color: #e4e4e4d6;
  }
  50% {
    background-color: #f9f8f8;
  }
  100% {
    background-color: #e4e4e4;
  }
}
/*  */
/* Grid2Info */
.grid-2.gridInfoSkeleton .info p {
  position: relative;
  color: transparent;
}
.grid-2.gridInfoSkeleton .info p::before {
  @include mixins.beforePseudoSkeleton();
  @include mixins.beforeKeyframes() {
    0% {
      background-color: #999;
    }
    50% {
      background-color: #99999980;
    }
    100% {
      background-color: #999;
    }
  }
  @include mixins.beforeSkeletonAnimation();
}
.grid-2.gridInfoSkeleton .info p::after {
  @include mixins.afterPseudoSkeleton();
  @include mixins.afterKeyframes() {
    0% {
      background-position: -450px 0;
    }
    100% {
      background-position: 450px 0;
    }
  }
  @include mixins.afterSkeletonAnimation();
}

.highlights .skeletonMainHighlights {
  position: relative;
  color: transparent;
  &::before {
    @include mixins.beforePseudoSkeleton(40%);
    @include mixins.beforeKeyframes() {
      0% {
        background-color: #999;
      }
      50% {
        background-color: #99999980;
      }
      100% {
        background-color: #999;
      }
    }
    @include mixins.beforeSkeletonAnimation();
  }
}

.highlights .skeletonMainHighlights::after {
  @include mixins.afterPseudoSkeleton(40%);
  @include mixins.afterKeyframes() {
    0% {
      background-position: -450px 0;
    }
    100% {
      background-position: 450px 0;
    }
  }
  @include mixins.afterSkeletonAnimation();
}
/*  */
/* Grid3Rating Skeleton */
.grid-3-rating.gridRatingSkeleton .rating {
  position: relative;
  color: transparent;
}
.grid-3-rating.gridRatingSkeleton .rating .stars span {
  opacity: 0;
}
.grid-3-rating.gridRatingSkeleton .rating::before {
  @include mixins.beforePseudoSkeleton(100%);
  @include mixins.beforeKeyframes() {
    0% {
      background-color: #999;
    }
    50% {
      background-color: #99999980;
    }
    100% {
      background-color: #999;
    }
  }
  @include mixins.beforeSkeletonAnimation();
  animation: dimBright infinite 1.5s ease-in;
}
.grid-3-rating.gridRatingSkeleton .rating::after {
  @include mixins.afterPseudoSkeleton();
  @include mixins.afterKeyframes() {
    0% {
      background-position: -450px 0;
    }
    100% {
      background-position: 450px 0;
    }
  }
  @include mixins.afterSkeletonAnimation();
}

.btn-view.btnRatingSkeleton {
  position: relative;
  background-color: transparent;
  color: transparent;
}
.btn-view.btnRatingSkeleton:hover {
  transform: none;
  box-shadow: none;
  filter: none;
  cursor: auto;
}
.btn-view.btnRatingSkeleton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #999;
  border-radius: 10px;
  animation: dimBright infinite 1.5s ease-in;
  z-index: 5;
}
.btn-view.btnRatingSkeleton::after {
  @include mixins.afterPseudoSkeleton();
  @include mixins.afterKeyframes() {
    0% {
      background-position: -450px 0;
    }
    100% {
      background-position: 450px 0;
    }
  }
  @include mixins.afterSkeletonAnimation();
  z-index: 5;
}

/* Fourth Conditional Box Skeleton */
.fourth_conditinal.skeleton_fourth_conditional p {
  display: inline-block;
}
.highlights-fourth.highlights-fourth-skeleton {
  position: relative;
  color: transparent;
  background-color: transparent;
}
.highlights-fourth.highlights-fourth-skeleton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  animation: dimBright infinite 1.5s ease-in;
}
.highlights-fourth.highlights-fourth-skeleton::after {
  @include mixins.afterPseudoSkeleton();
  @include mixins.afterKeyframes() {
    0% {
      background-position: -450px 0;
    }
    100% {
      background-position: 450px 0;
    }
  }
  @include mixins.afterSkeletonAnimation();
}
.highlights-fourth.highlights-fourth-skeleton li span {
  color: transparent;
  background-color: transparent;
}

.highlights-checked.highlights-checked-skeleton {
  position: relative;
  color: transparent;
}
.highlights-checked.highlights-checked-skeleton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  animation: dimBright infinite 1.5s ease-in;
}
.highlights-checked.highlights-checked-skeleton::after {
  @include mixins.afterPseudoSkeleton();
  @include mixins.afterKeyframes() {
    0% {
      background-position: -450px 0;
    }
    100% {
      background-position: 450px 0;
    }
  }
  @include mixins.afterSkeletonAnimation();
}
.highlights-checked.highlights-checked-skeleton li span {
  background-color: transparent;
  color: transparent;
}
.show-more .show-more-btn.show-more-btn-skeleton {
  position: relative;
  color: transparent;
}
.show-more .show-more-btn.show-more-btn-skeleton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  animation: dimBright infinite 1.5s ease-in;
}
.show-more .show-more-btn.show-more-btn-skeleton::after {
  @include mixins.afterPseudoSkeleton();
  @include mixins.afterKeyframes() {
    0% {
      background-position: -450px 0;
    }
    100% {
      background-position: 450px 0;
    }
  }
  @include mixins.afterSkeletonAnimation();
}

/* Absolute Conditional Best Tags Skeleton*/
.absolute.bestTagSkeleton {
  content: "";
  position: absolute;
  border-radius: 0 8px 8px 0;
  color: transparent;
  animation: dimBright infinite 1.5s ease-in;
}

/* Absolute ID Numbers Skeleton */
.id-number.skeletonIdNumber {
  content: "";
  position: absolute;
  border-radius: 24px;
  color: transparent;
  animation: dimBright infinite 1.5s ease-in;
}
