@use "./scss/partials/colors";
@use "./scss/partials/breakpoints";
@use "./scss/partials/maxwidth";

/* Utility classes */
.center {
  max-width: maxwidth.$maxWidth_3;
  margin: 0 auto;
}
.flex {
  display: flex;
  gap: 10px;
}
.p-left {
  padding-left: 0;
}

hr {
  background-color: colors.$greyish;
  height: 3px;
  border: none;
}

.m-top-bot {
  margin: 30px 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 10px;
}

/* Media-Queries */
@media only screen and (min-width: breakpoints.$breakpoint_1) {
  html {
    font-size: x-large;
  }

  .center {
    max-width: maxwidth.$maxWidth_1;
  }
}

@media only screen and (min-width: breakpoints.$breakpoint_2) and (max-width: breakpoints.$breakpoint_1) {
  html {
    font-size: larger;
  }

  .btn {
    font-size: 20px;
  }

  .center {
    max-width: maxwidth.$maxWidth_2;
  }
}

@media only screen and (max-width: breakpoints.$breakpoint_3) {
  .center {
    max-width: maxwidth.$maxWidth_4;
  }
}

@media only screen and (max-width: breakpoints.$breakpoint_4) {
  .center {
    max-width: maxwidth.$maxWidth_5;
  }
}

@media only screen and (max-width: breakpoints.$breakpoint_5) {
  .center {
    max-width: maxwidth.$maxWidth_6;
  }
}
@media only screen and (max-width: breakpoints.$breakpoint_6) {
  .center {
    max-width: maxwidth.$maxWidth_7;
  }
}

@media only screen and (max-width: breakpoints.$breakpoint_7) {
  .center {
    max-width: maxwidth.$maxWidth_8;
  }
}

@media only screen and (max-width: breakpoints.$breakpoint_8) {
  .center {
    max-width: maxwidth.$maxWidth_9;
  }
}

@media only screen and (max-width: breakpoints.$breakpoint_9) {
  .center {
    max-width: maxwidth.$maxWidth_10;
  }
}

@media only screen and (max-width: breakpoints.$breakpoint_10) {
  .center {
    max-width: maxwidth.$maxWidth_11;
  }
}
