/* Utility classes */
.center {
  max-width: 1000px;
  margin: 0 auto;
}
.flex {
  display: flex;
  gap: 10px;
}
.p-left {
  padding-left: 0;
}

hr {
  background-color: var(--greyish);
  height: 3px;
  border: none;
}
.m-top-bot {
  margin: 30px 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 10px;
}

/* Media-Queries */
@media only screen and (min-width: 1600px) {
  html {
    font-size: x-large;
  }

  .center {
    max-width: 1400px;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  html {
    font-size: larger;
  }

  .btn {
    font-size: 20px;
  }

  .center {
    max-width: 1200px;
  }
}

@media only screen and (max-width: 1200px) {
  .center {
    max-width: 900px;
  }
}

@media only screen and (max-width: 1000px) {
  .center {
    max-width: 800px;
  }
}

@media only screen and (max-width: 900px) {
  .center {
    max-width: 700px;
  }
}
@media only screen and (max-width: 800px) {
  .center {
    max-width: 600px;
  }
}

@media only screen and (max-width: 650px) {
  .center {
    max-width: 500px;
  }
}

@media only screen and (max-width: 600px) {
  .center {
    max-width: 450px;
  }
}

@media only screen and (max-width: 500px) {
  .center {
    max-width: 400px;
  }
}

@media only screen and (max-width: 450px) {
  .center {
    max-width: 350px;
  }
}
