$breakpoint_1: 1600px;
$breakpoint_2: 1400px;
$breakpoint_3: 1200px;
$breakpoint_4: 1000px;
$breakpoint_5: 900px;
$breakpoint_6: 800px;
$breakpoint_7: 650px;
$breakpoint_8: 600px;
$breakpoint_9: 500px;
$breakpoint_10: 450px;
$breakpoint_11: 400px;
