$black: #212731;
$light-grey: #9fa9b3;
$lightish-grey: #b6bdc4;
$greyish: #e1e4e6;
$dark-grey: #4b5665;
$darker-grey: #626e79;
$darker-grey-2: #5c6874;
$white: #ffffff;
$btn-sky-blue: #1b88f4;
$orange: #ef4c5d;
