// Max Widths
$maxWidth_1: 1400px;
$maxWidth_2: 1200px;
$maxWidth_3: 1000px;
$maxWidth_4: 900px;
$maxWidth_5: 800px;
$maxWidth_6: 700px;
$maxWidth_7: 600px;
$maxWidth_8: 500px;
$maxWidth_9: 450px;
$maxWidth_10: 400px;
$maxWidth_11: 350px;
