@mixin flexColAlign {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@mixin gridCenter {
  display: grid;
  place-content: center;
}
// Skeleton pseudo-style
@mixin beforePseudoSkeleton($width: 100%, $height: 100%) {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: $height;
  width: $width;
  border-radius: 10px;
}
@mixin beforeSkeletonAnimation(
  $animationName: dimBright,
  $times: infinite,
  $duration: 1.5s,
  $method: ease-in
) {
  animation: $animationName $times $duration $method;
}
@mixin beforeKeyframes($animationName: dimBright) {
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin afterPseudoSkeleton($width: 100%) {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: $width;
  border-radius: 10px;
  background: linear-gradient(to left, transparent, #c5c3c3e1, transparent);
  background-size: 450px 400px;
  background-repeat: no-repeat;
}
@mixin afterSkeletonAnimation(
  $animationName: moveRight,
  $duration: 0.5s,
  $method: normal,
  $times: infinite
) {
  animation: $animationName $duration $method $times;
}
@mixin afterKeyframes($animationName: moveRight) {
  @keyframes #{$animationName} {
    @content;
  }
}
